.*

npapi/src/hostadmin.vcproj.*
npapi/src/hostadmin.ncb
npapi/src/hostadmin.suo
npapi/src/Release/
npapi/src/Debug/

npapi/src/*.so
npapi/src/*.o

xcuserdata

.DS_Store
*.swp
*~.nib

*.zip
*.crx
*.xpi
